<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ALD PRO 1.4.8.8</title>
    <link rel="stylesheet" href="css/ald.css">
  </head>
  <body>

    <div class="sidebar">
      <div id="name">
        <h1>ALD PRO</h1>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#">Туда</a></li>
          <li><a href="#">Сюда</a> </li>
          <li><a href="#">Еще че-то</a></li>
          <li><a href="#">И тут</a></li>
          <li><a href="#">Ага</a></li>

          <div class="sign">
            <p>Made by BaldHedgehog Group, 2023.</p>
          </div>

        </ul>
      </div>
    </div>
  </body>
</html>
